@keyframes movingUp{
    0%{ transform: translateY(100%);
    opacity: 0;}


    100%{ transform: translateY(0);
        opacity: 1;}
}

@keyframes movingDown{
    0%{ transform: translateY(0);}

    50%{ transform: translateY(10%);}

    100%{ transform: translateY(0);}
}